<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/nodemodules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/nodemodules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/nodemodules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <title>Rowdyhacks main page</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href={{ url_for('splashpage') }}><span class="fa fa-home fa-lg"></span>
                            Home</a></li>
                    <li class="nav-item"><a class="nav-link" href={{ url_for('aboutpage') }}><span class="fa fa-info fa-lg"></span>
                            About</a></li>
                </ul>
                <form class="form-inline" action={{ url_for('searchresults') }} method="post" role="form">
                    <input class="form-control mr-4 mr-sm-2" type="search" name="searchbar"
                        placeholder="Search here! Press enter.">
                </form>
            </div>
        </div>
    </nav>
    <h1>Results</h1>
    <p>Your search query was: {{ search_query }}</p>

    <div class="container">
        <div class="row row-content">
            <div class="col-12 col-sm-9">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tableResults">

                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/nodemodules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/static/nodemodules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/nodemodules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var res = '{{ results|tojson }}';
        var arr = JSON.parse(res);
        var table = document.createElement("table");
        var tr = table.insertRow(-1);

        var theader1 = document.createElement("th");
        theader1.innerHTML = "Image";
        tr.appendChild(theader1);
        var theader2 = document.createElement("th");
        theader2.innerHTML = "Item";
        tr.appendChild(theader2);
        var theader3 = document.createElement("th");
        theader3.innerHTML = "Store";
        tr.appendChild(theader3);
        var theader4 = document.createElement("th");
        theader4.innerHTML = "Stock";
        tr.appendChild(theader4);

        for (var i = 0; i < arr["results"].length; i++) {
            tr = table.insertRow(-1); 
            var cell1 = tr.insertCell(-1);
            var img = document.createElement("img");
            img.src = arr["results"][i]["image url"];
            img.alt = arr["results"][i]["name"];
            img.width = 100;
            img.height = 100;
            cell1.appendChild(img); 
            var cell2 = tr.insertCell(-1); 
            cell2.innerHTML = arr["results"][i]["name"]; 
            var cell3 = tr.insertCell(-1);
            var cell4 = tr.insertCell(-1);
            cell4.innerHTML = arr["results"][i]["stock"];
        }
        document.getElementById("tableResults").appendChild(table);
    </script>
</body>
</html>
