<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/nodemodules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/nodemodules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/nodemodules/bootstrap-social/bootstrap-social.css">

    <title>Rowdyhacks main page</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href={{ url_for('splashpage') }}><span class="fa fa-home fa-lg"></span>
                            Home</a></li>
                    <li class="nav-item"><a class="nav-link" href={{ url_for('aboutpage') }}><span class="fa fa-info fa-lg"></span>
                            About</a></li>
                </ul>
                <form class="form-inline" action={{ url_for('searchresults') }} method="post" role="form">
                    <input class="form-control mr-4 mr-sm-2" type="search" name="searchbar"
                        placeholder="Search here! Press enter.">
                </form>
            </div>
        </div>
    </nav>
    <h1>My First Heading</h1>
    <p>Your search query was: {{ search_query }}</p>
    <p>The results are: {{ results }}</p>

    <div class="container">
        <div class="row row-content">
            <div class="col-12 align-self-center">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tableResults">

                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function createTable(results) {
            var arr = JSON.parse(results);
            var i;
            var out = "<thead> \
                    <tr> \
                        <th scope=\"col\">Item</th> \
                        <th scope=\"col\">Image</th> \
                        <th scope=\"col\">Store</th> \
                        <th scope=\"col\"># in Stock</th> \
                    </tr > \
                    </thead> \
                    <tbody>";
            for (i = 0; i < arr.length; i++) {
                out += "<tr>";
                out += "<th scope=\"row\">" + "</th>";
                out += "<td>" + arr[i].name + "</td>";
                out += "<td><img src=\"" + arr[i].imageUrl + "\">"
                out += "<td>" + "</td>";
                out += "<td>" + arr[i].stock + "</td>";
                out += "</tr>";
            }
            out += "</tbody>";
            document.getElementById("tableResults").innerHTML = out;
        }
    </script>

    <script src="/static/nodemodules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
